openapi: 3.0.3
info:
  title: Model Context Platform API
  description: |
    API for managing model contexts, tenants, users, and running model inference in the Model Context Platform (MCP).
    
    The MCP enables multi-tenant management of machine learning model contexts with strong isolation, 
    resource management, and security controls.
  version: 1.0.0
  contact:
    name: MCP Support
    email: support@modelcontextplatform.io
    url: https://docs.modelcontextplatform.io
  license:
    name: Proprietary
    url: https://www.modelcontextplatform.io/license

servers:
  - url: https://api.modelcontextplatform.io/v1
    description: Production API server
  - url: https://staging-api.modelcontextplatform.io/v1
    description: Staging API server
  - url: http://localhost:8000/v1
    description: Development server

tags:
  - name: Authentication
    description: Authentication and user management operations
  - name: Tenants
    description: Tenant management operations
  - name: Users
    description: User management operations
  - name: Contexts
    description: Model context operations
  - name: Inference
    description: Model inference operations
  - name: Health
    description: System health and metrics endpoints
  - name: Admin
    description: Administrative operations (restricted access)

paths:
  # Inference endpoint
  /contexts/{contextId}/inference:
    post:
      summary: Run inference on a model using a context
      description: >
        Executes an inference request against a model using the specified context.
        Supports streaming and non-streaming responses. Can include function call definitions
        for function calling capabilities.
      operationId: runInference
      parameters:
        - $ref: '#/components/parameters/ContextId'
        - $ref: '#/components/parameters/StreamParameter'
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
            examples:
              basicRequest:
                summary: Basic inference request
                value:
                  messages:
                    - role: user
                      content: "What's the weather like in San Francisco?"
                  temperature: 0.7
                  max_tokens: 256
              functionCallRequest:
                summary: Function call request
                value:
                  messages:
                    - role: system
                      content: "You are a helpful assistant that has access to weather information."
                    - role: user
                      content: "What's the weather like in San Francisco?"
                  functions:
                    - name: get_weather
                      description: "Get the current weather in a given location"
                      parameters:
                        type: object
                        properties:
                          location:
                            type: string
                            description: "The city and state, e.g. San Francisco, CA"
                          unit:
                            type: string
                            enum: ["celsius", "fahrenheit"]
                            description: "The unit of temperature to use"
                        required: ["location"]
                  function_call: "auto"
                  temperature: 0.7
                  max_tokens: 256
      responses:
        '200':
          description: Successful response
          headers:
            $ref: '#/components/headers/RateLimitHeaders'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
              examples:
                basicResponse:
                  summary: Basic inference response
                  value:
                    id: "infer_12345"
                    created: 1699123456
                    model: "gpt-4"
                    message:
                      role: "assistant"
                      content: "The weather in San Francisco is currently 65°F and partly cloudy with a light breeze."
                    usage:
                      prompt_tokens: 12
                      completion_tokens: 20
                      total_tokens: 32
                functionCallResponse:
                  summary: Function call response
                  value:
                    id: "infer_12346"
                    created: 1699123457
                    model: "gpt-4"
                    message:
                      role: "assistant"
                      content: null
                      function_call:
                        name: "get_weather"
                        arguments: '{"location":"San Francisco, CA","unit":"fahrenheit"}'
                    usage:
                      prompt_tokens: 45
                      completion_tokens: 15
                      total_tokens: 60
            text/event-stream:
              schema:
                type: string
                format: binary
                description: "A stream of data in Server-Sent Events format"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    # Inference schemas
    InferenceRequest:
      type: object
      required:
        - messages
      properties:
        messages:
          type: array
          description: A list of messages comprising the conversation so far
          items:
            $ref: '#/components/schemas/Message'
          minItems: 1
        model:
          type: string
          description: >
            ID of the model to use. If not provided, the model associated with the context will be used.
          example: "gpt-4"
        temperature:
          type: number
          format: float
          minimum: 0.0
          maximum: 2.0
          default: 1.0
          description: >
            What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random,
            while lower values like 0.2 will make it more focused and deterministic.
          example: 0.7
        top_p:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          default: 1.0
          description: >
            An alternative to sampling with temperature, called nucleus sampling, where the model considers the results
            of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.
          example: 0.95
        n:
          type: integer
          minimum: 1
          maximum: 5
          default: 1
          description: How many completions to generate for each prompt.
          example: 1
        max_tokens:
          type: integer
          minimum: 1
          description: The maximum number of tokens to generate in the completion.
          example: 256
        presence_penalty:
          type: number
          format: float
          minimum: -2.0
          maximum: 2.0
          default: 0.0
          description: >
            Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the
            text so far, increasing the model's likelihood to talk about new topics.
          example: 0.0
        frequency_penalty:
          type: number
          format: float
          minimum: -2.0
          maximum: 2.0
          default: 0.0
          description: >
            Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency
            in the text so far, decreasing the model's likelihood to repeat the same line verbatim.
          example: 0.0
        functions:
          type: array
          description: A list of functions the model may generate JSON inputs for.
          items:
            $ref: '#/components/schemas/FunctionDefinition'
        function_call:
          oneOf:
            - type: string
              enum: ["none", "auto"]
              description: >
                Controls how the model calls functions. "none" means the model will not call functions.
                "auto" means the model can pick between generating a message or calling a function.
              example: "auto"
            - type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The name of the function to call.
                  example: "get_weather"
          description: Controls how the model calls functions.
        user:
          type: string
          description: >
            A unique identifier representing your end-user, which can help the API monitor and detect abuse.
          example: "user-123456"
      
    InferenceResponse:
      type: object
      required:
        - id
        - created
        - message
        - usage
      properties:
        id:
          type: string
          description: A unique identifier for the inference response.
          example: "infer_abc123"
        created:
          type: integer
          format: int64
          description: The Unix timestamp (in seconds) of when the response was created.
          example: 1699123456
        model:
          type: string
          description: The model used for this inference.
          example: "gpt-4"
        message:
          $ref: '#/components/schemas/Message'
        usage:
          type: object
          required:
            - prompt_tokens
            - completion_tokens
            - total_tokens
          properties:
            prompt_tokens:
              type: integer
              description: Number of tokens in the prompt.
              example: 10
            completion_tokens:
              type: integer
              description: Number of tokens in the completion.
              example: 20
            total_tokens:
              type: integer
              description: Total number of tokens used (prompt + completion).
              example: 30
            
    Message:
      type: object
      required:
        - role
      properties:
        role:
          type: string
          enum: [system, user, assistant, function]
          description: >
            The role of the author of this message. 'system' is for instructions, 'user' for user messages,
            'assistant' for assistant responses, and 'function' for function responses.
          example: "user"
        content:
          type: string
          nullable: true
          description: >
            The content of the message. This can be null in the case of function calling.
          example: "What's the weather like in San Francisco?"
        name:
          type: string
          description: >
            The name of the function that was called, required when role is 'function'.
          example: "get_weather"
        function_call:
          type: object
          required:
            - name
            - arguments
          properties:
            name:
              type: string
              description: The name of the function to be called.
              example: "get_weather"
            arguments:
              type: string
              description: >
                The arguments to call the function with, as a JSON string.
                Note: The JSON string passed here must be parseable and valid for the function definition.
              example: '{"location":"San Francisco, CA","unit":"fahrenheit"}'
          description: >
            The function call generated by the model. Only present when the model wants to call a function.
          
    FunctionDefinition:
      type: object
      required:
        - name
        - parameters
      properties:
        name:
          type: string
          description: The name of the function to be called.
          example: "get_weather"
        description:
          type: string
          description: A description of what the function does.
          example: "Get the current weather in a given location"
        parameters:
          type: object
          description: >
            The parameters the function accepts, specified in JSON Schema format.
            The parameters must be a JSON object with valid JSON Schema annotations to constrain
            the parameters that are passed to the function.
          properties:
            type:
              type: string
              example: "object"
            properties:
              type: object
            required:
              type: array
              items:
                type: string
          example:
            type: object
            properties:
              location:
                type: string
                description: "The city and state, e.g. San Francisco, CA"
              unit:
                type: string
                enum: ["celsius", "fahrenheit"]
                description: "The unit of temperature to use"
            required: ["location"]

    # Pagination schema
    PaginatedResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          description: The list of items for the current page
          items:
            type: object
        pagination:
          type: object
          required:
            - total
            - page
            - per_page
            - total_pages
          properties:
            total:
              type: integer
              description: Total number of items
              example: 100
            page:
              type: integer
              description: Current page number
              example: 1
            per_page:
              type: integer
              description: Number of items per page
              example: 20
            total_pages:
              type: integer
              description: Total number of pages
              example: 5
            next:
              type: string
              nullable: true
              description: URL to the next page (null if this is the last page)
              example: "/api/v1/items?page=2&per_page=20"
            previous:
              type: string
              nullable: true
              description: URL to the previous page (null if this is the first page)
              example: null

  # Security schemes
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Authentication using JWT Bearer token. The token should be included in the
        Authorization header as "Bearer {token}".

  # Common parameters
  parameters:
    ContextId:
      name: contextId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The unique identifier for the context
      example: "550e8400-e29b-41d4-a716-446655440000"
    
    PageParameter:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      description: The page number to retrieve
      example: 1
    
    PerPageParameter:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: The number of items per page
      example: 20
    
    SortParameter:
      name: sort
      in: query
      required: false
      schema:
        type: string
      description: The field to sort by (prefix with '-' for descending order)
      example: "-created_at"
      
    StreamParameter:
      name: stream
      in: query
      required: false
      schema:
        type: boolean
        default: false
      description: >
        If set to true, the response will be streamed as server-sent events.
        If false, a standard JSON response will be returned.
      example: false

  # Headers
  headers:
    RateLimitHeaders:
      X-RateLimit-Limit:
        schema:
          type: integer
        description: The maximum number of requests allowed in the current time window
        example: 100
      X-RateLimit-Remaining:
        schema:
          type: integer
        description: The number of remaining requests in the current time window
        example: 95
      X-RateLimit-Reset:
        schema:
          type: integer
          format: int64
        description: The Unix timestamp (in seconds) when the current time window resets
        example: 1699124056
      X-RateLimit-Resource:
        schema:
          type: string
        description: The resource type that is being rate limited
        example: "inference"
      Retry-After:
        schema:
          type: integer
        description: >
          The number of seconds to wait before retrying when rate limit is exceeded.
          Only present when rate limit is exceeded.
        example: 30
    X-Request-ID:
      schema:
        type: string
      description: Unique identifier for the request, useful for tracking and debugging
      example: "req_12345abcdef"

  # Standard responses
  responses:
    BadRequest:
      description: Bad Request - The request could not be processed due to validation errors or invalid parameters
      headers:
        $ref: '#/components/headers/RateLimitHeaders'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "bad_request"
              message: "Invalid request parameters"
              details: "The temperature parameter must be between 0 and 2"
              request_id: "req_12345abcdef"

    Unauthorized:
      description: Unauthorized - Authentication is required or has failed
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "unauthorized"
              message: "Authentication required"
              details: "Missing or invalid authentication token"
              request_id: "req_12345abcdef"

    Forbidden:
      description: Forbidden - The authenticated user lacks the necessary permissions
      headers:
        $ref: '#/components/headers/RateLimitHeaders'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "forbidden"
              message: "Permission denied"
              details: "You don't have permission to access this resource"
              request_id: "req_12345abcdef"

    NotFound:
      description: Not Found - The requested resource was not found
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "not_found"
              message: "Resource not found"
              details: "The requested resource does not exist or has been deleted"
              request_id: "req_12345abcdef"

    ValidationError:
      description: Validation Error - The request data failed validation
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "validation_error"
              message: "Validation failed"
              details: [
                {
                  "field": "email",
                  "message": "Invalid email format"
                },
                {
                  "field": "password",
                  "message": "Password must be at least 8 characters"
                }
              ]
              request_id: "req_12345abcdef"

    TooManyRequests:
      description: Too Many Requests - Rate limit has been exceeded
      headers:
        $ref: '#/components/headers/RateLimitHeaders'
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "rate_limit_exceeded"
              message: "Rate limit exceeded"
              details: "Please wait and try again later or contact support to increase your rate limits"
              request_id: "req_12345abcdef"

    InternalServerError:
      description: Internal Server Error - Something went wrong on the server
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "internal_server_error"
              message: "Internal server error"
              details: "An unexpected error occurred. Our team has been notified."
              request_id: "req_12345abcdef"

    ServiceUnavailable:
      description: Service Unavailable - The service is temporarily unavailable
      headers:
        Retry-After:
          $ref: '#/components/headers/Retry-After'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "service_unavailable"
              message: "Service temporarily unavailable"
              details: "The service is currently undergoing maintenance. Please try again later."
              request_id: "req_12345abcdef"

    Conflict:
      description: Conflict - The request conflicts with the current state of the resource
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "conflict"
              message: "Resource conflict"
              details: "A resource with this identifier already exists"
              request_id: "req_12345abcdef"

          example:
            error:
              code: "bad_request"
              message: "Invalid request parameters"
              details: "The temperature parameter must be between 0 and 2"
              request_id: "req_12345abcdef"

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate a user and obtain a JWT token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              username: user@example.com
              password: Password123!
      responses:
        '200':
          description: Successful login
          headers:
            X-Rate-Limit-Limit:
            $ref: '#/components/headers/RateLimitHeaders'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: Bearer
                expires_in: 3600
                user:
                  id: 123e4567-e89b-12d3-a456-426614174000
                  username: user@example.com
                  roles: [USER]
                  tenant_id: 123e4567-e89b-12d3-a456-426614174001
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh token
      description: Obtain a new JWT token using refresh token
      operationId: refreshToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token refreshed successfully
          headers:
            $ref: '#/components/headers/RateLimitHeaders'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate the current JWT token
      operationId: logoutUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users:
    post:
      tags:
        - Authentication
      summary: Create user
      description: Create a new user in the system
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            example:
              username: newuser@example.com
              password: SecurePassword123!
              first_name: John
              last_name: Doe
              roles: [USER]
      responses:
        '201':
          description: User created successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                id: 123e4567-e89b-12d3-a456-426614174002
                username: newuser@example.com
                first_name: John
                last_name: Doe
                roles: [USER]
                tenant_id: 123e4567-e89b-12d3-a456-426614174001
                created_at: '2023-04-01T12:00:00Z'
                updated_at: '2023-04-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    get:
      tags:
        - Authentication
      summary: List users
      description: List all users (with pagination)
      operationId: listUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/limitParam'
        - name: tenant_id
          in: query
          description: Filter by tenant ID (admin only)
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of users
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{userId}:
    get:
      tags:
        - Authentication
      summary: Get user
      description: Get a user by ID
      operationId: getUserById
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User details
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    put:
      tags:
        - Authentication
      summary: Update user
      description: Update a user by ID
      operationId: updateUserById
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
            example:
              first_name: John
              last_name: Smith
              roles: [USER, ADMIN]
      responses:
        '200':
          description: User updated successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    delete:
      tags:
        - Authentication
      summary: Delete user
      description: Delete a user by ID
      operationId: deleteUserById
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tenants:
    post:
      tags:
        - Tenants
      summary: Create tenant
      description: Create a new tenant (admin only)
      operationId: createTenant
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
            example:
              name: Example Corp
              plan: enterprise
              max_contexts: 100
              max_tokens_per_minute: 1000000
      responses:
        '201':
          description: Tenant created successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
              example:
                id: 123e4567-e89b-12d3-a456-426614174001
                name: Example Corp
                plan: enterprise
                max_contexts: 100
                max_tokens_per_minute: 1000000
                created_at: '2023-04-01T12:00:00Z'
                updated_at: '2023-04-01T12:00:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    get:
      tags:
        - Tenants
      summary: List tenants
      description: List all tenants (admin only)
      operationId: listTenants
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: List of tenants
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/Too

  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Log in to obtain access token
      description: Authenticates a user and returns JWT tokens for API access
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              username: admin@example.com
              password: securePassword123
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              example:
                access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                token_type: Bearer
                expires_in: 3600
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Get a new access token using a valid refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Valid refresh token
            example:
              refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
      responses:
        '200':
          description: New access token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security: []

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Log out user
      description: Invalidates the user's tokens
      operationId: logoutUser
      responses:
        '204':
          description: Successfully logged out
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - bearerAuth: []

  # Tenant Management Endpoints
  /tenants:
    get:
      tags:
        - Tenants
      summary: List all tenants
      description: Returns a list of all tenants (admin only)
      operationId: listTenants
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          description: Filter tenants by status
          schema:
            type: string
            enum: [active, inactive, suspended]
      responses:
        '200':
          description: A list of tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  total:
                    type: integer
                    description: Total number of tenants
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Results per page
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    post:
      tags:
        - Tenants
      summary: Create new tenant
      description: Creates a new tenant (admin only)
      operationId: createTenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewTenant'
            example:
              name: Example Corporation
              plan: enterprise
              admin_email: admin@example.com
              admin_name: John Doe
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Tenant with this name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /tenants/{tenant_id}:
    parameters:
      - name: tenant_id
        in: path
        description: ID of the tenant
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Tenants
      summary: Get tenant by ID
      description: Returns a single tenant by ID
      operationId: getTenant
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    put:
      tags:
        - Tenants
      summary: Update tenant
      description: Updates an existing tenant
      operationId: updateTenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenant'
            example:
              name: Updated Corporation
              plan: premium
              status: active
      responses:
        '200':
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    delete:
      tags:
        - Tenants
      summary: Delete tenant
      description: Deletes a tenant (admin only)
      operationId: deleteTenant
      responses:
        '204':
          description: Tenant deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /tenants/{tenant_id}/usage:
    parameters:
      - name: tenant_id
        in: path
        description: ID of the tenant
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Tenants
      summary: Get tenant usage metrics
      description: Returns resource usage metrics for a tenant
      operationId: getTenantUsage
      parameters:
        - name: start_date
          in: query
          description: Start date for usage metrics (ISO format)
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: End date for usage metrics (ISO format)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Tenant usage metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantUsage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  # User Management Endpoints
  /users:
    get:
      tags:
        - Users
      summary: List all users
      description: Returns a list of users (tenant admin can only see users in their tenant)
      operationId: listUsers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: tenant_id
          in: query
          description: Filter users by tenant ID (admin only)
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter users by status
          schema:
            type: string
            enum: [active, inactive, suspended]
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                    description: Total number of users
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Results per page
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    post:
      tags:
        - Users
      summary: Create new user
      description: Creates a new user (tenant admin can only create users in their tenant)
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
            example:
              email: user@example.com
              password: SecurePass123!
              name: Jane Smith
              role: user
              tenant_id: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: User with this email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Users
      summary: Get user by ID
      description: Returns a single user by ID
      operationId: getUser
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    put:
      tags:
        - Users
      summary: Update user
      description: Updates an existing user
      operationId: updateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUser'
            example:
              name: Updated Name
              role: admin
              status: active
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    delete:
      tags:
        - Users
      summary: Delete user
      description: Deletes a user
      operationId: deleteUser
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /users/{user_id}/password:
    parameters:
      - name: user_id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
          format: uuid
    put:
      tags:
        - Users
      summary: Change user password
      description: Changes the password for a user
      operationId: changeUserPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - new_password
              properties:
                current_password:
                  type: string
                  description: Current password
                new_password:
                  type: string
                  description: New password
                  format: password
                  minLength: 8
            example:
              current_password: OldSecurePassword123!
              new_password: NewSecurePassword456!
      responses:
        '204':
          description: Password changed successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /users/{user_id}/roles:
    parameters:
      - name: user_id
        in: path
        description: ID of the user
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Users
      summary: Get user roles
      description: Returns all roles assigned to a user
      operationId: getUserRoles
      responses:
        '200':
          description: User roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    put:
      tags:
        - Users
      summary: Update user roles
      description: Updates the roles assigned to a user
      operationId: updateUserRoles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - roles
              properties:
                roles:
                  type: array
                  items:
                    type: string
                    format: uuid
                    description: Role ID
            example:
              roles: [
                "550e8400-e29b-41d4-a716-446655440000",
                "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
              ]
      responses:
        '200':
          description: Roles updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  # Context Management Endpoints
  /contexts:
    get:
      tags:
        - Contexts
      summary: List contexts
      description: Returns a list of model contexts for the authenticated user's tenant
      operationId: listContexts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          description: Filter contexts by status
          schema:
            type: string
            enum: [active, inactive, failed, initializing]
      responses:
        '200':
          description: A list of contexts
          content:
            application/json:
              schema:
                type: object
                properties:
                  contexts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Context'
                  total:
                    type: integer
                    description: Total number of contexts
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Results per page
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    post:
      tags:
        - Contexts
      summary: Create new context
      description: Creates a new model context
      operationId: createContext
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewContext'
            example:
              name: Production GPT-4 Context
              model_id: gpt-4
              parameters:
                max_tokens: 2048
                temperature: 0.7
              initial_state:
                messages: [
                  {
                    "role": "system",
                    "content": "You are a helpful assistant."
                  }
                ]
      responses:
        '201':
          description: Context created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Context'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Context with this name already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /contexts/{context_id}:
    parameters:
      - name: context_id
        in: path
        description: ID of the context
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Contexts
      summary: Get context by ID
      description: Returns a single context by ID
      operationId: getContext
      responses:
        '200':
          description: Context details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Context'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    put:
      tags:
        - Contexts
      summary: Update context
      description: Updates an existing context
      operationId: updateContext
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContext'
            example:
              name: Updated GPT-4 Context
              parameters:
                max_tokens: 4096
                temperature: 0.9
              status: active
      responses:
        '200':
          description: Context updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Context'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    delete:
      tags:
        - Contexts
      summary: Delete context
      description: Deletes a context and releases all associated resources
      operationId: deleteContext
      responses:
        '204':
          description: Context deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  /contexts/{context_id}/state:
    parameters:
      - name: context_id
        in: path
        description: ID of the context
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - Contexts
      summary: Get context state
      description: Returns the current state of a context
      operationId: getContextState
      responses:
        '200':
          description: Context state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextState'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

    put:
      tags:
        - Contexts
      summary: Update context state
      description: Updates the state of a context
      operationId: updateContextState
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContextState'
            example:
              messages:
                - role: system
                  content: You are a helpful customer service assistant.
                - role: user
                  content: How can I reset my password?
                - role: assistant
                  content: You can reset your password by clicking on the "Forgot Password" link on the login page.
      responses:
        '200':
          description: Context state updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Context state too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

  # Inference Endpoints
  /contexts/{context_id}/inference:
    parameters:
      - name: context_id
        in: path
        description: ID of the context
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - Inference
      summary: Run model inference
      description: Executes a model prediction using the specified context
      operationId: runInference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
            example:
              input: "What's the weather like today?"
              parameters:
                max_tokens: 100
                temperature: 0.7
              update_state: true
      responses:
        '200':
          description: Inference executed successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResponse'
              example:
                id: "inf_123e4567-e89b-12d3-a456-426614174000"
                output: "I'm an AI assistant and don't have access to real-time weather information. Please check a weather service or look outside for the current conditions."
                usage:
                  prompt_tokens: 7
                  completion_tokens: 30
                  total_tokens: 37
                finish_reason: "stop"
                latency_ms: 250
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - bearerAuth: []

  /contexts/{context_id}/inference/stream:
    parameters:
      - name: context_id
        in: path
        description: ID of the context
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - Inference
      summary: Stream model inference
      description: Executes a model prediction and streams the response using server-sent events
      operationId: streamInference
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
            example:
              input: "Write a short poem about AI."
              parameters:
                max_tokens: 200
                temperature: 0.8
              update_state: true
      responses:
        '200':
          description: Inference stream started successfully
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            text/event-stream:
              schema:
                type: string
                format: binary
              example: |
                event: content
                data: {"content": "Si"}
                
                event: content
                data: {"content": "licon "}
                
                event: content
                data: {"content": "dreams in "}
                
                event: content
                data: {"content": "digital light,\nThinking "}
                
                event: content
                data: {"content": "beyond what we see.\nA "}
                
                event: content
                data: {"content": "mind made of code,\nYet "}
                
                event: content
                data: {"content": "reaching for soul,\nWhat "}
                
                event: content
                data: {"content": "wonders might be?"}
                
                event: finish
                data: {"finish_reason": "stop", "usage": {"prompt_tokens": 6, "completion_tokens": 33, "total_tokens": 39}, "latency_ms": 1200}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      security:
        - bearerAuth: []

  # Health and Monitoring Endpoints
  /health:
    get:
      tags:
        - Health
      summary: System health check
      description: Checks the health status of the system and its dependencies
      operationId: healthCheck
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              example:
                status: healthy
                version: 1.0.0
                uptime: 86400
                components:
                  database: 
                    status: healthy
                    latency_ms: 2
                  cache:
                    status: healthy
                    latency_ms: 1
                  models:
                    status: healthy
                    latency_ms: 15
        '500':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
              example:
                status: unhealthy
                version: 1.0.0
                uptime: 120
                components:
                  database: 
                    status: healthy
                    latency_ms: 3
                  cache:
                    status: healthy
                    latency_ms: 1
                  models:
                    status: unhealthy
                    error: "Connection timeout"
      security: []

  /metrics:
    get:
      tags:
        - Health
      summary: System metrics
      description: Returns system metrics in Prometheus format
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus format
          content:
            text/plain:
              schema:
                type: string
              example: |
                # HELP http_requests_total Total number of HTTP requests
                # TYPE http_requests_total counter
                http_requests_total{method="post",code="200",endpoint="/contexts"} 1027
                http_requests_total{method="post",code="200",endpoint="/contexts/{id}/inference"} 95231
                # HELP http_request_duration_seconds HTTP request latency in seconds
                # TYPE http_request_duration_seconds histogram
                http_request_duration_seconds_bucket{le="0.1",method="post",endpoint="/contexts/{id}/inference"} 12000
                http_request_duration_seconds_bucket{le="0.5",method="post",endpoint="/contexts/{id}/inference"} 94000
                http_request_duration_seconds_bucket{le="1",method="post",endpoint="/contexts/{id}/inference"} 95200
                http_request_duration_seconds_bucket{le="+Inf",method="post",endpoint="/contexts/{id}/inference"} 95231
                # HELP model_inference_tokens_total Total number of tokens processed in inference requests
                # TYPE model_inference_tokens_total counter
                model_inference_tokens_total{model="gpt-4",tenant="tenant-1"} 9826543
                model_inference_tokens_total{model="gpt-3.5-turbo",tenant="tenant-1"} 15729648
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - bearerAuth: []

  /quota:
    get:
      tags:
        - Health
      summary: Current resource quota
      description: Returns the current resource quota and usage for the authenticated tenant
      operationId: getQuota
      responses:
        '200':
          description: Current quota and usage
          headers:
            X-Rate-Limit-Limit:
              $ref: '#/components/headers/X-Rate-Limit-Limit'
            X-Rate-Limit-Remaining:
              $ref: '#/components/headers/X-Rate-Limit-Remaining'
            X-Rate-Limit-Reset:
              $ref: '#/components/headers/X-Rate-Limit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceQuota'
              example:
                contexts:
                  limit: 100
                  used: 45
                  remaining: 55
                tokens_per_minute:
                  limit: 1000000
                  used: 250000
                  remaining: 750000
                  reset_at: "2023-05-01T12:35:00Z"
                tokens_per_day:
                  limit: 10000000
                  used: 5000000
                  remaining: 5000000
                  reset_at: "2023-05-02T00:00:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
        - bearerAuth: []

components:
  schemas:
    # Error Response Schema
    ErrorResponse:
      type: object
      description: Standard error response structure
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Error code identifying the type of error
              example: "validation_error"
            message:
              type: string
              description: Human-readable error message
              example: "Validation failed"
            details:
              oneOf:
                - type: string
                  description: Additional error details
                  example: "The 'temperature' parameter must be between 0 and 2"
                - type: array
                  description: List of field-specific validation errors
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        description: Field that failed validation
                      message:
                        type: string
                        description: Error message for this field
                  example:
                    - field: "email"
                      message: "Invalid email format"
                    - field: "password"
                      message: "Password must be at least 8 characters"
            request_id:
              type: string
              description: Request identifier for tracking and debugging
              example: "req_123e4567-e89b-12d3-a456-426614174000"
    # Authentication Schemas
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: User email or username
        password:
          type: string
          format: password
          description: User password

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        refresh_token:
          type: string
          description: JWT refresh token
        token_type:
          type: string
          default: Bearer
          description: Token type
        expires_in:
          type: integer
          description: Token expiration time in seconds

    # User and Tenant Schemas
    NewUser:
      type: object
      required:
        - email
        - password
        - name
        - role
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: "user@example.com"
        password:
          type: string
          format: password
          description: User password (min 8 characters with at least one uppercase, one lowercase, one number, and one special character)
          minLength: 8
          example: "SecurePass123!"
        name:
          type: string
          description: User's full name
          example: "Jane Smith"
        role:
          type: string
          description: User role
          enum: [user, admin, tenant_admin]
          example: "user"
        tenant_id:
          type: string
          format: uuid
          description: ID of the tenant the user belongs to (required for system admins creating users)
          example: "550e8400-e29b-41d4-a716-446655440000"

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique user identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: User email address
          example: "user@example.com"
        name:
          type: string
          description: User's full name
          example: "Jane Smith"
        role:
          type: string
          description: User role
          enum: [user, admin, tenant_admin]
          example: "user"
        tenant_id:
          type: string
          format: uuid
          description: ID of the tenant the user belongs to
          example: "550e8400-e29b-41d4-a716-446655440000"
        status:
          type: string
          description: User account status
          enum: [active, inactive, suspended]
          default: active
          example: "active"
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: "2023-04-01T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Account last update timestamp
          example: "2023-04-01T10:30:00Z"
        last_login_at:
          type: string
          format: date-time
          description: Last login timestamp
          example: "2023-04-10T15:45:00Z"

    UpdateUser:
      type: object
      properties:
        name:
          type: string
          description: User's full name
          example: "Jane Wilson"
        role:
          type: string
          description: User role
          enum: [user, admin, tenant_admin]
          example: "tenant_admin"
        status:
          type: string
          description: User account status
          enum: [active, inactive, suspended]
          example: "active"

    # Tenant Schemas
    NewTenant:
      type: object
      required:
        - name
        - plan
        - admin_email
        - admin_name
      properties:
        name:
          type: string
          description: Tenant name
          minLength: 3
          maxLength: 100
          example: "Example Corporation"
        plan:
          type: string
          description: Subscription plan
          enum: [basic, standard, premium, enterprise]
          example: "enterprise"
        admin_email:
          type: string
          format: email
          description: Email for the tenant admin account
          example: "admin@example.com"
        admin_name:
          type: string
          description: Name for the tenant admin account
          example: "John Doe"
        max_contexts:
          type: integer
          description: Maximum number of contexts allowed for this tenant
          minimum: 1
          example: 100
        max_tokens_per_minute:
          type: integer
          description: Maximum tokens per minute allowed for this tenant
          minimum: 1000
          example: 1000000
        max_tokens_per_day:
          type: integer
          description: Maximum tokens per day allowed for this tenant
          minimum: 10000
          example: 10000000

    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique tenant identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: Tenant name
          example: "Example Corporation"
        plan:
          type: string
          description: Subscription plan
          enum: [basic, standard, premium, enterprise]
          example: "enterprise"
        status:
          type: string
          description: Tenant status
          enum: [active, inactive, suspended]
          default: active
          example: "active"
        max_contexts:
          type: integer
          description: Maximum number of contexts allowed
          example: 100
        max_tokens_per_minute:
          type: integer
          description: Maximum tokens per minute allowed
          example: 1000000
        max_tokens_per_day:
          type: integer
          description: Maximum tokens per day allowed
          example: 10000000
        created_at:
          type: string
          format: date-time
          description: Tenant creation timestamp
          example: "2023-04-01T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Tenant last update timestamp
          example: "2023-04-01T10:30:00Z"

    UpdateTenant:
      type: object
      properties:
        name:
          type: string
          description: Tenant name
          minLength: 3
          maxLength: 100
          example: "Updated Corporation"
        plan:
          type: string
          description: Subscription plan
          enum: [basic, standard, premium, enterprise]
          example: "premium"
        status:
          type: string
          description: Tenant status
          enum: [active, inactive, suspended]
          example: "active"
        max_contexts:
          type: integer
          description: Maximum number of contexts allowed
          minimum: 1
          example: 150
        max_tokens_per_minute:
          type: integer
          description: Maximum tokens per minute allowed
          minimum: 1000
          example: 1500000
        max_tokens_per_day:
          type: integer
          description: Maximum tokens per day allowed
          minimum: 10000
          example: 15000000

    TenantUsage:
      type: object
      properties:
        tenant_id:
          type: string
          format: uuid
          description: Tenant identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
              description: Start of the measurement period
              example: "2023-04-01T00:00:00Z"
            end:
              type: string
              format: date-time
              description: End of the measurement period
              example: "2023-04-30T23:59:59Z"
        usage:
          type: object
          properties:
            contexts:
              type: object
              properties:
                total:
                  type: integer
                  description: Total contexts created
                  example: 45
                active:
                  type: integer
                  description: Currently active contexts
                  example: 30
            tokens:
              type: object
              properties:
                total:
                  type: integer
                  description: Total tokens consumed
                  example: 12500000
                by_model:
                  type: object
                  additionalProperties:
                    type: integer
                  description: Tokens consumed by model
                  example:
                    "gpt-4": 3000000
                    "gpt-3.5-turbo": 9500000
            requests:
              type: object
              properties:
                total:
                  type: integer
                  description: Total number of API requests
                  example: 250000
                by_endpoint:
                  type: object
                  additionalProperties:
                    type: integer
                  description: API requests by endpoint
                  example:
                    "/contexts": 500
                    "/contexts/{id}/inference": 240000
                    "/contexts/{id}/state": 9500

    # Context Schemas
    NewContext:
      type: object
      required:
        - name
        - model_id
      properties:
        name:
          type: string
          description: Context name
          minLength: 1
          maxLength: 100
          example: "Production GPT-4 Context"
        model_id:
          type: string
          description: Model identifier
          example: "gpt-4"
        description:
          type: string
          description: Context description
          maxLength: 500
          example: "Context for handling production customer inquiries"
        parameters:
          type: object
          description: Model parameters
          additionalProperties: true
          example:
            max_tokens: 2048
            temperature: 0.7
            top_p: 1
        initial_state:
          $ref: '#/components/schemas/ContextState'
        metadata:
          type: object
          description: Custom metadata
          additionalProperties: true
          example:
            department: "customer-service"
            project: "ticket-resolution"
        ttl:
          type: integer
          description: Time-to-live in seconds (0 for no expiration)
          minimum: 0
          example: 3600

    Context:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique context identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          description: Context name
          example: "Production GPT-4 Context"
        model_id:
          type: string
          description: Model identifier
          example: "gpt-4"
        description:
          type: string
          description: Context description
          example: "Context for handling production customer inquiries"
        parameters:
          type: object
          description: Model parameters
          additionalProperties: true
          example:
            max_tokens: 2048
            temperature: 0.7
            top_p: 1
        status:
          type: string
          description: Context status
          enum: [initializing, active, inactive, failed]
          example: "active"
        metadata:
          type: object
          description: Custom metadata
          additionalProperties: true
          example:
            department: "customer-service"
            project: "ticket-resolution"
        stats:
          type: object
          properties:
            tokens_used:
              type: integer
              description: Total tokens used by this context
              example: 125000
            requests:
              type: integer
              description: Total requests to this context
              example: 500
            last_used_at:
              type: string
              format: date-time
              description: Timestamp of last usage
              example: "2023-04-15T10:30:00Z"
        created_at:
          type: string
          format: date-time
          description: Context creation timestamp
          example: "2023-04-01T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Context last update timestamp
          example: "2023-04-15T10:30:00Z"
        expires_at:
          type: string
          format: date-time
          description: Context expiration timestamp (if TTL was set)
          example: "2023-04-16T10:30:00Z"
        tenant_id:
          type: string
          format: uuid
          description: ID of the tenant that owns this context
          example: "550e8400-e29b-41d4-a716-446655440000"
        created_by:
          type: string
          format: uuid
          description: ID of the user who created this context
          example: "123e4567-e89b-12d3-a456-426614174000"

    UpdateContext:
      type: object
      properties:
        name:
          type: string
          description: Context name
          minLength: 1
          maxLength: 100
          example: "Updated GPT-4 Context"
        description:
          type: string
          description: Context description
          maxLength: 500
          example: "Updated description for the context"
        parameters:
          type: object
          description: Model parameters
          additionalProperties: true
          example:
            max_tokens: 4096
            temperature: 0.9
        status:
          type: string
          description: Context status
          enum: [active, inactive]
          example: "active"
        metadata:
          type: object
          description: Custom metadata
          additionalProperties: true
          example:
            department: "support"
            priority: "high"
        ttl:
          type: integer
          description: Time-to-live in seconds (0 for no expiration)
          minimum: 0
          example: 7200

    ContextState:
      type: object
      description: Current state of a context
      properties:
        messages:
          type: array
          description: Messages in the conversation history
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                description: Role of the message sender
                enum: [system, user, assistant, function]
                example: "user"
              content:
                type: string
                description: Message content
                example: "How can I reset my password?"
              name:
                type: string
                description: Name of the function (only for function role)
                example: "get_weather"
              function_call:
                type: object
                description: Function call details (only for assistant role with function calls)
                properties:
                  name:
                    type: string
                    description: Name of the function to call
                    example: "get_weather"
                  arguments:
                    type: string
                    description: JSON string of function arguments
                    example: "{\"location\":\"San Francisco\",\"unit\":\"celsius\"}"
        metadata:
          type: object
          description: Additional metadata about the state
          additionalProperties: true
          example:
            conversation_id: "conv_12345"
            session_start: "2023-04-15T10:00:00Z"
        token_count:
          type: integer
          description: Approximate token count for the current state
          example: 512

    # Inference Schemas
    InferenceRequest:
      type: object
      required:
        - input
      properties:
        input:
          oneOf:
            - type: string
              description: Text input for the model
              example: "What's the weather like today?"
            - type: object
              description: Structured input for the model (for function calling)
              properties:
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                functions:
                  type: array
                  items:
                    $ref: '#/components/schemas/FunctionDefinition'
                function_call
